SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- EXEC P_CTB_INF_REALVSPRESUP_03 '0101',1,'202101','0001','','ZZZZZZZZZ'
ALTER PROCEDURE [dbo].[P_CTB_INF_REALVSPRESUP_01]
	@FILIAL VARCHAR(4)
	,@AGRUPA TINYINT = 1
	,@TIPO TINYINT = 1
	,@MES_ACTUAL VARCHAR(6)
	,@MES_ANTERIOR VARCHAR(6)
	,@REVISION VARCHAR(4)
	,@DECTA VARCHAR(20)
	,@ACTA VARCHAR(20)
	,@DECC VARCHAR(9)
	,@ACC VARCHAR(9)
	,@DEGPO VARCHAR(8)
	,@AGPO VARCHAR(8)
	,@DECLVL VARCHAR(9)
	,@ACLVL VARCHAR(9)
	,@MONEDA TINYINT = 1
AS

SET NOCOUNT ON

DECLARE @DESDE_FEC_ASIENTOS VARCHAR(8) 
DECLARE @HASTA_FEC_ASIENTOS VARCHAR(8) 

--|-----------------------------------------------
--| Siempre parto desde la fecha de inicio
--| del calendario del año anterior
--| Si el periodo actual es 2022-03, entonces
--| una posible fecha de inicio seria 2021-01-01
--|-----------------------------------------------
SELECT @DESDE_FEC_ASIENTOS = ISNULL(MIN(CTG_DTINI),'20200101')
	,@HASTA_FEC_ASIENTOS = @MES_ACTUAL + '31'
FROM CTG010
WHERE D_E_L_E_T_ <> '*'
AND CTG_CALEND IN  (
	SELECT CTG_CALEND
	FROM CTG010
	WHERE CONVERT(VARCHAR(8), DATEADD(yy,-1,@MES_ACTUAL+'01'), 112) BETWEEN CTG_DTINI AND CTG_DTFIM
	AND D_E_L_E_T_ <> '*' )

--|------------------------------------|
--| INICIO STAGING PRESUPUESTO         |
--|------------------------------------|
	--|-------------------------
	--| Filtro para Presupuesto
	--|-------------------------
	DECLARE @DESDE_MES_PRESUPUESTO VARCHAR(6) = LEFT(@DESDE_FEC_ASIENTOS,6)
	DECLARE @HASTA_MES_PRESUPUESTO VARCHAR(6) = LEFT(@MES_ACTUAL,4)+'12'

	SELECT ZP1_FILIAL
		,ZP1_PERIOD
		,CT1_XCATEG
		,ZP2_CUENTA
		,CT1_GRUPO
		,ZP2_CCOSTO
		,ZP2_CLVL
		,SUM(CASE WHEN @MONEDA = 1 THEN ZP2_VALOR 
				WHEN @MONEDA = 2 THEN ZP2_DOLAR
				ELSE 0 END) AS VALOR_BUDGET
		,CAST(0 AS FLOAT) AS VALOR_VENTA
	INTO #STA_PRESUPUESTOS
	FROM ZP1010 ZP1
		INNER JOIN ZP2010 ZP2
			ON ZP1.ZP1_FILIAL = ZP2.ZP2_FILIAL
			AND ZP1.ZP1_NUM = ZP2.ZP2_NUM
			AND ZP2.D_E_L_E_T_ <> '*'
		INNER JOIN CT1010 CT1
			ON CT1_FILIAL = ZP2_FILIAL
			AND CT1_CONTA = ZP2_CUENTA
			AND CT1.D_E_L_E_T_ <> '*'
	WHERE ZP1.D_E_L_E_T_ <> '*'
	AND ZP1_FILIAL = @FILIAL
	AND ZP1_REVIS = @REVISION
	AND ZP1_PERIOD BETWEEN @DESDE_MES_PRESUPUESTO AND @HASTA_MES_PRESUPUESTO
	AND ZP2.ZP2_CUENTA BETWEEN @DECTA AND @ACTA
	AND ZP2.ZP2_CCOSTO BETWEEN @DECC AND @ACC
	AND ZP2.ZP2_CLVL BETWEEN @DECLVL AND @ACLVL
	AND CT1.CT1_GRUPO BETWEEN @DEGPO AND @AGPO
	GROUP BY ZP1_FILIAL, CT1_XCATEG, ZP1_PERIOD, ZP2_CUENTA, CT1_DESC01, ZP2_CCOSTO, CT1_GRUPO, ZP2_CLVL	

	--|----------------------------------------
	--| Actualizo el valor total de ventas
	--| Solo sin Clase de valor para cuentas
	--| de 2=Gastos Fijo
	--|----------------------------------------
	UPDATE A
	SET VALOR_VENTA = B.VALOR_VENTA
	FROM #STA_PRESUPUESTOS A
		INNER JOIN (	
			SELECT ZP1_PERIOD
				,SUM(VALOR_BUDGET) AS VALOR_VENTA
			FROM #STA_PRESUPUESTOS
			WHERE CT1_XCATEG = '4'
			AND ZP2_CLVL = ''
			GROUP BY ZP1_PERIOD) B
				ON A.ZP1_PERIOD = B.ZP1_PERIOD
	WHERE A.CT1_XCATEG = '2'	

	--|----------------------------------------
	--| Actualizo el valor total de ventas
	--| Solo con Clase de valor para cuentas
	--| de 3=Gasto de Ventas
	--|----------------------------------------
	UPDATE A
	SET VALOR_VENTA = B.VALOR_VENTA
	FROM #STA_PRESUPUESTOS A
		INNER JOIN (
			SELECT ZP1_PERIOD
				,ZP2_CLVL
				,SUM(VALOR_BUDGET) AS VALOR_VENTA
			FROM #STA_PRESUPUESTOS
			WHERE CT1_XCATEG = '4'
			AND ZP2_CLVL <> ''
			GROUP BY ZP1_PERIOD, ZP2_CLVL) AS B
				ON A.ZP1_PERIOD = B.ZP1_PERIOD
				AND A.ZP2_CLVL = B.ZP2_CLVL
	WHERE A.CT1_XCATEG = '3'

--|------------------------------------|
--| FIN STAGING PRESUPUESTO            |
--|------------------------------------|

--|------------------------------------|
--| INICIO STAGING ASIENTOS CONTABLES  |
--|------------------------------------|
	SELECT CT2_FILIAL
		,LEFT(CT2_DATA,6) AS PERIODO
		,CT1_XCATEG
		,CUENTA
		,CT1_GRUPO
		,CCOSTO
		,CLASEVL
		,SUM(CASE WHEN @MONEDA = 1 AND CT2_MOEDLC = '01' THEN CT2_VALOR
				 WHEN @MONEDA = 2 AND CT2_MOEDLC = '02' THEN CT2_VALOR 
				 ELSE 0 END) VALOR_ASIENTO
		,CAST(0 AS FLOAT) AS VALOR_VENTA
	INTO #STA_ASIENTOS
	FROM V_CTB_ASIENTOS_01 ASTO
		INNER JOIN CT1010 CT1
			ON CT1_FILIAL = CT2_FILIAL
			AND CT1_CONTA = CUENTA
			AND CT1.D_E_L_E_T_ <> '*'
	WHERE CT2_FILIAL = @FILIAL
	AND CT2_DATA BETWEEN @DESDE_FEC_ASIENTOS AND @HASTA_FEC_ASIENTOS
	AND CUENTA BETWEEN @DECTA AND @ACTA
	AND CCOSTO BETWEEN @DECC AND @ACC
	AND CLASEVL BETWEEN @DECLVL AND @ACLVL
	AND CT1_GRUPO BETWEEN @DEGPO AND @AGPO
	AND CT2_TPSALD <> '9'
	GROUP BY CT2_FILIAL
		,LEFT(CT2_DATA,6)
		,CUENTA
		,CCOSTO
		,CT1_GRUPO
		,CLASEVL
		,CT1_XCATEG

	--|----------------------------------------
	--| Actualizo el valor total de ventas
	--| Solo sin Clase de valor para cuentas
	--| de 2=Gastos Fijo
	--|----------------------------------------
	UPDATE A
	SET VALOR_VENTA = B.VALOR_VENTA
	FROM #STA_ASIENTOS A
		INNER JOIN (	
			SELECT PERIODO
				,SUM(VALOR_ASIENTO) AS VALOR_VENTA
			FROM #STA_ASIENTOS
			WHERE CT1_XCATEG = '4'
			AND CLASEVL = ''
			GROUP BY PERIODO) B
				ON A.PERIODO = B.PERIODO
	WHERE A.CT1_XCATEG = '2'	

	--|----------------------------------------
	--| Actualizo el valor total de ventas
	--| Solo con Clase de valor para cuentas
	--| de 3=Gasto de Ventas
	--|----------------------------------------
	UPDATE A
	SET VALOR_VENTA = B.VALOR_VENTA
	FROM #STA_ASIENTOS A
		INNER JOIN (
			SELECT PERIODO
				,CLASEVL
				,SUM(VALOR_ASIENTO) AS VALOR_VENTA
			FROM #STA_ASIENTOS
			WHERE CT1_XCATEG = '4'
			AND CLASEVL <> ''
			GROUP BY PERIODO, CLASEVL) AS B
				ON A.PERIODO = B.PERIODO
				AND A.CLASEVL = B.CLASEVL
	WHERE A.CT1_XCATEG = '3'		
--|------------------------------------|
--| FIN STAGING ASIENTOS CONTABLES     |
--|------------------------------------|

--|---------------------------------------------------------
--| Con las staging, armo una ultima temporal para definir 
--| los tipos de agrupacion
--|---------------------------------------------------------
--| INICIO AGRUPADORES
--|---------------------------------------------------------
	--|---------------------
	--| Asientos contables
	--|---------------------
	CREATE TABLE #ASIENTOS_AGRUPADOS (
		ASTO_FILIAL VARCHAR(4)
		,ASTO_PERIODO VARCHAR(6)
		,ASTO_CUENTA VARCHAR(20)
		,ASTO_GRUPO VARCHAR(20)
		,ASTO_CC VARCHAR(20)
		,ASTO_CLVL VARCHAR(20)
		,ASTO_VALOR FLOAT
		,ASTO_VENTA FLOAT)

	INSERT INTO #ASIENTOS_AGRUPADOS
		SELECT CT2_FILIAL
				,PERIODO
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 1 THEN CUENTA ELSE '' END
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 3 THEN CT1_GRUPO ELSE '' END
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 2 THEN CCOSTO ELSE '' END
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 4 THEN CLASEVL ELSE '' END
				,SUM(VALOR_ASIENTO)
				,SUM(VALOR_VENTA)
		FROM #STA_ASIENTOS
		GROUP BY CT2_FILIAL
			,PERIODO
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 1 THEN CUENTA ELSE '' END
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 3 THEN CT1_GRUPO ELSE '' END
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 2 THEN CCOSTO ELSE '' END
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 4 THEN CLASEVL ELSE '' END

	--|--------------
	--| Presupuestos
	--|--------------
	CREATE TABLE #BUDGET_AGRUPADOS (
		BUD_FILIAL VARCHAR(4)
		,BUD_PERIODO VARCHAR(6)
		,BUD_CUENTA VARCHAR(20)
		,BUD_GRUPO VARCHAR(20)
		,BUD_CC VARCHAR(20)
		,BUD_CLVL VARCHAR(20)  
		,BUD_VALOR FLOAT
		,BUD_VENTA FLOAT)

	INSERT INTO #BUDGET_AGRUPADOS
		SELECT ZP1_FILIAL
				,ZP1_PERIOD
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 1 THEN ZP2_CUENTA ELSE '' END
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 3 THEN CT1_GRUPO ELSE '' END
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 2 THEN ZP2_CCOSTO ELSE '' END
				,CASE WHEN @TIPO = 1 OR @AGRUPA = 4 THEN ZP2_CLVL ELSE '' END
				,SUM(VALOR_BUDGET)
				,SUM(VALOR_VENTA)
		FROM #STA_PRESUPUESTOS
		GROUP BY ZP1_FILIAL
			,ZP1_PERIOD
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 1 THEN ZP2_CUENTA ELSE '' END
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 3 THEN CT1_GRUPO ELSE '' END
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 2 THEN ZP2_CCOSTO ELSE '' END
			,CASE WHEN @TIPO = 1 OR @AGRUPA = 4 THEN ZP2_CLVL ELSE '' END
--|------------------
--| FIN AGRUPADORES
--|------------------

--|------------------|
--| INICIO CALCULOS  |
--|------------------|
	--|----------------------------------------------
	--| Armo todas las variables de fecha necesaria
	--|----------------------------------------------
	DECLARE @DESDE_ACTUAL_ACUM VARCHAR(8)
	DECLARE @HASTA_ACTUAL_ACUM VARCHAR(8)

	SELECT @DESDE_ACTUAL_ACUM = ISNULL(LEFT(MIN(CTG_DTINI),6),'202001')
		,@HASTA_ACTUAL_ACUM = @MES_ACTUAL
	FROM CTG010
	WHERE D_E_L_E_T_ <> '*'
	AND CTG_CALEND IN  (
		SELECT CTG_CALEND
		FROM CTG010
		WHERE @MES_ACTUAL+'01' BETWEEN CTG_DTINI AND CTG_DTFIM
		AND D_E_L_E_T_ <> '*' )

	DECLARE @DESDE_ANTERIOR_ACUM VARCHAR(8) = LEFT(@DESDE_FEC_ASIENTOS, 6)
	DECLARE @HASTA_ANTERIOR_ACUM VARCHAR(8) = CONVERT(VARCHAR(6), DATEADD(yy,-1,@MES_ACTUAL+'01'), 112)
	
	--|-------------------------------------
	--| Armo precalculos segun los periodos
	--|-------------------------------------
	SELECT BUD_FILIAL AS FILIAL
		,@MES_ACTUAL AS MES_ACTUAL
		,@MES_ANTERIOR AS MES_ANTERI
		,@DESDE_ACTUAL_ACUM + ' / ' + @HASTA_ACTUAL_ACUM AS ACUM_ACTUAL
		,@DESDE_ANTERIOR_ACUM + ' / ' + @HASTA_ANTERIOR_ACUM AS ACUM_ANTERIOR
		,CASE WHEN BUD_GRUPO <> '' THEN BUD_GRUPO ELSE 'SIN GRUPO' END AS GRUPO
		,BUD_CUENTA AS CODCTA
		,ISNULL(CT1_DESC01, 'CUENTA INEXISTENTE') AS DESCTA
		,BUD_CC AS CODCC
		,ISNULL(CTT_DESC01, 'CENTRO DE COSTO INEXISTENTE') AS DESCC
		,BUD_CLVL AS CLASEVL

		,SUM(CASE WHEN ASTO_PERIODO = @MES_ACTUAL THEN ASTO_VALOR ELSE 0 END) AS REAL_ACTUAL
		,SUM(CASE WHEN ASTO_PERIODO = @MES_ACTUAL THEN ASTO_VENTA ELSE 0 END) AS REAL_VENTA_ACTUAL
		,SUM(CASE WHEN BUD_PERIODO = @MES_ACTUAL THEN BUD_VALOR ELSE 0 END) AS BUD_ACTUAL
		,SUM(CASE WHEN BUD_PERIODO = @MES_ACTUAL THEN BUD_VENTA ELSE 0 END) AS BUD_VENTA_ACTUAL

		,SUM(CASE WHEN ASTO_PERIODO BETWEEN @DESDE_ACTUAL_ACUM AND @HASTA_ACTUAL_ACUM THEN ASTO_VALOR ELSE 0 END) AS REAL_ACUM_ACTUAL
		,SUM(CASE WHEN ASTO_PERIODO BETWEEN @DESDE_ACTUAL_ACUM AND @HASTA_ACTUAL_ACUM THEN ASTO_VENTA ELSE 0 END) AS REAL_VENTA_ACUM_ACTUAL
		,SUM(CASE WHEN BUD_PERIODO BETWEEN @DESDE_ACTUAL_ACUM AND @HASTA_ACTUAL_ACUM THEN BUD_VALOR ELSE 0 END) AS BUD_ACUM_ACTUAL
		,SUM(CASE WHEN BUD_PERIODO BETWEEN @DESDE_ACTUAL_ACUM AND @HASTA_ACTUAL_ACUM THEN BUD_VENTA ELSE 0 END) AS BUD_VENTA_ACUM_ACTUAL

		,SUM(CASE WHEN ASTO_PERIODO = @MES_ANTERIOR THEN ASTO_VALOR ELSE 0 END) AS REAL_ANTERIOR
		,SUM(CASE WHEN ASTO_PERIODO = @MES_ANTERIOR THEN ASTO_VENTA ELSE 0 END) AS REAL_VENTA_ANTERIOR
		,SUM(CASE WHEN BUD_PERIODO = @MES_ANTERIOR THEN BUD_VALOR ELSE 0 END) AS BUD_ANTERIOR
		,SUM(CASE WHEN BUD_PERIODO = @MES_ANTERIOR THEN BUD_VENTA ELSE 0 END) AS BUD_VENTA_ANTERIOR

		,SUM(CASE WHEN ASTO_PERIODO BETWEEN @DESDE_ANTERIOR_ACUM AND @HASTA_ANTERIOR_ACUM THEN ASTO_VALOR ELSE 0 END) AS REAL_ACUM_ANTERIOR
		,SUM(CASE WHEN ASTO_PERIODO BETWEEN @DESDE_ANTERIOR_ACUM AND @HASTA_ANTERIOR_ACUM THEN ASTO_VENTA ELSE 0 END) AS REAL_VENTA_ACUM_ANTERIOR
		,SUM(CASE WHEN BUD_PERIODO BETWEEN @DESDE_ANTERIOR_ACUM AND @HASTA_ANTERIOR_ACUM THEN BUD_VALOR ELSE 0 END) AS BUD_ACUM_ANTERIOR
		,SUM(CASE WHEN BUD_PERIODO BETWEEN @DESDE_ANTERIOR_ACUM AND @HASTA_ANTERIOR_ACUM THEN BUD_VENTA ELSE 0 END) AS BUD_VENTA_ACUM_ANTERIOR

		,SUM(CASE WHEN BUD_PERIODO > @HASTA_ACTUAL_ACUM THEN BUD_VALOR ELSE 0 END) AS FORE_RESTANTE

		,SUM(CASE WHEN ASTO_PERIODO BETWEEN @DESDE_ACTUAL_ACUM AND @HASTA_ACTUAL_ACUM THEN ASTO_VALOR ELSE 0 END)+
		SUM(CASE WHEN BUD_PERIODO > @HASTA_ACTUAL_ACUM THEN BUD_VALOR ELSE 0 END) AS REALFORE_COMPLETO
		
		,SUM(CASE WHEN ASTO_PERIODO BETWEEN @DESDE_ACTUAL_ACUM AND @HASTA_ACTUAL_ACUM THEN ASTO_VENTA ELSE 0 END)+
		SUM(CASE WHEN BUD_PERIODO > @HASTA_ACTUAL_ACUM THEN BUD_VENTA ELSE 0 END) AS FORE_VENTA_COMPLETO
		
		,SUM(CASE WHEN BUD_PERIODO >= @DESDE_ACTUAL_ACUM THEN BUD_VALOR ELSE 0 END) AS BUD_COMPLETO
		,SUM(CASE WHEN BUD_PERIODO >= @DESDE_ACTUAL_ACUM THEN BUD_VENTA ELSE 0 END) AS BUD_VENTA_COMPLETO
		,SUM(CASE WHEN LEFT(ASTO_PERIODO,4) = LEFT(@MES_ACTUAL,4) THEN ASTO_VALOR ELSE 0 END) AS TOTAL_REAL_ANTERIOR
		,SUM(CASE WHEN LEFT(ASTO_PERIODO,4) = LEFT(@MES_ACTUAL,4) THEN ASTO_VENTA ELSE 0 END) AS TOTAL_VENTA_ANTERIOR
	INTO #PRECALCULOS
	FROM #BUDGET_AGRUPADOS BUD
		LEFT JOIN #ASIENTOS_AGRUPADOS ASTO
			ON BUD_FILIAL = ASTO_FILIAL
			AND BUD_PERIODO = ASTO_PERIODO
			AND BUD_CUENTA = ASTO_CUENTA
			AND BUD_CC = ASTO_CC
			AND BUD_CLVL = ASTO_CLVL
		LEFT JOIN CT1010 CT1
			ON CT1_CONTA = BUD_CUENTA
			AND CT1.D_E_L_E_T_ <> '*'
		LEFT JOIN CTT010 CTT
			ON CTT_CUSTO = BUD_CC
			AND CTT.D_E_L_E_T_ <> '*'
	GROUP BY BUD_FILIAL
		,BUD_CUENTA
		,CT1_DESC01
		,BUD_GRUPO
		,BUD_CC
		,CTT_DESC01
		,BUD_CLVL


--| Real
--| % Venta Real
--| Budget
--| % Venta Budget
--| % Real / Budget
--| Real Periodo Anterior
--| % Venta Periodo Anterior
--| % Real / Real Periodo Anterior
		
--| Acum. Real
--| % Venta Real
--| Acum. Budget
--| % Venta Budget
--| % Real / Budget
--| Real Periodo Anterior
--| % Venta Periodo Anterior
--| % Real / Real Periodo Anterior

DECLARE @ENCFIJOS VARCHAR(MAX)
DECLARE @ENCABEZ VARCHAR(MAX) 
DECLARE @SUM VARCHAR(MAX) 
DECLARE @GROUPING VARCHAR(MAX)

--|---------------------------------
--| Para informe de tipo Analitico
--|---------------------------------
IF @TIPO = 1
	BEGIN

	--|---------------------
	--| Por Cuenta contable
	--|---------------------
	IF @AGRUPA = 1
		BEGIN 

		SET @ENCABEZ = '
			,ISNULL(CODCTA, ''*'') AS CODCTA
			,ISNULL(DESCTA, ''TOTAL GENERAL'') AS DESCTA
			,ISNULL(GRUPO,''----'') AS GRUPO
			,ISNULL(CODCC, ''----'') AS CODCC
			,ISNULL(DESCC, ''----'') AS DESCC
			,ISNULL(CLASEVL, ''----'') AS CLASEVL '

		SET @GROUPING = '
			GROUP BY 
				GROUPING SETS (
					(FILIAL, MES_ACTUAL, MES_ANTERI),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCTA, DESCTA),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCTA, DESCTA, GRUPO),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCTA, DESCTA, GRUPO, CODCC, DESCC),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCTA, DESCTA, GRUPO, CODCC, DESCC, CLASEVL))
			ORDER BY FILIAL, MES_ACTUAL, MES_ANTERI, CODCTA, DESCTA, GRUPO, CODCC, DESCC, CLASEVL '
	END

	--|---------------------
	--| Por centro de costo
	--|---------------------
	ELSE IF @AGRUPA = 2
		BEGIN

		SET @ENCABEZ = '
			,ISNULL(CODCC, ''*'') AS CODCC
			,ISNULL(DESCC, ''TOTAL GENERAL'') AS DESCC
			,ISNULL(CODCTA, ''----'') AS CODCTA
			,ISNULL(DESCTA, ''----'') AS DESCTA
			,ISNULL(GRUPO,''----'') AS GRUPO
			,ISNULL(CLASEVL, ''----'') AS CLASEVL '

		SET @GROUPING = '
			GROUP BY 
				GROUPING SETS (
					(FILIAL, MES_ACTUAL, MES_ANTERI),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCC, DESCC),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCC, DESCC, CODCTA, DESCTA),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCC, DESCC, CODCTA, DESCTA, GRUPO),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CODCC, DESCC, CODCTA, DESCTA, GRUPO, CLASEVL))
			ORDER BY FILIAL, MES_ACTUAL, MES_ANTERI, CASE WHEN CODCC IS NULL THEN '''' ELSE ''Z''+CODCC END, DESCC, CODCTA, DESCTA, GRUPO, CLASEVL '

	END

	--|---------------------
	--| Por Grupo
	--|---------------------
	ELSE IF @AGRUPA = 3
		BEGIN

		SET @ENCABEZ = '
			,ISNULL(GRUPO,''*'') AS GRUPO
			,ISNULL(CODCTA, ''----'') AS CODCTA
			,ISNULL(DESCTA, ''----'') AS DESCTA
			,ISNULL(CODCC, ''----'') AS CODCC
			,ISNULL(DESCC, ''----'') AS DESCC
			,ISNULL(CLASEVL, ''----'') AS CLASEVL '

		SET @GROUPING = '
			GROUP BY 
				GROUPING SETS (
					(FILIAL, MES_ACTUAL, MES_ANTERI),
					(FILIAL, MES_ACTUAL, MES_ANTERI, GRUPO),
					(FILIAL, MES_ACTUAL, MES_ANTERI, GRUPO, CODCTA, DESCTA),
					(FILIAL, MES_ACTUAL, MES_ANTERI, GRUPO, CODCTA, DESCTA, CODCC, DESCC),
					(FILIAL, MES_ACTUAL, MES_ANTERI, GRUPO, CODCTA, DESCTA, CODCC, DESCC, CLASEVL))
			ORDER BY FILIAL, MES_ACTUAL, MES_ANTERI, CASE WHEN GRUPO IS NULL THEN '''' ELSE ''Z''+GRUPO END, CODCTA, DESCTA, CODCC, DESCC, CLASEVL '
	END

	--|---------------------
	--| Por clase de valor
	--|---------------------
	ELSE
		BEGIN

		SET @ENCABEZ = '
			,ISNULL(CLASEVL, ''* TOTAL GENERAL'') AS CLASEVL
			,ISNULL(CODCTA, ''----'') AS CODCTA
			,ISNULL(DESCTA, ''----'') AS DESCTA
			,ISNULL(GRUPO,''----'') AS GRUPO
			,ISNULL(CODCC, ''----'') AS CODCC
			,ISNULL(DESCC, ''----'') AS DESCC '

		SET @GROUPING = '
			GROUP BY 
				GROUPING SETS (
					(FILIAL, MES_ACTUAL, MES_ANTERI),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CLASEVL),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CLASEVL, CODCTA, DESCTA),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CLASEVL, CODCTA, DESCTA, GRUPO),
					(FILIAL, MES_ACTUAL, MES_ANTERI, CLASEVL, CODCTA, DESCTA, GRUPO, CODCC, DESCC))
			ORDER BY FILIAL, MES_ACTUAL, MES_ANTERI, CASE WHEN CLASEVL IS NULL THEN '''' ELSE ''Z''+CLASEVL END, CODCTA, DESCTA, GRUPO, CODCC, DESCC '
	END
END


--|---------------------------------
--| Para informe de tipo Resumen
--|---------------------------------
IF @TIPO = 2
	BEGIN

	--|---------------------
	--| Por Cuenta contable
	--|---------------------
	IF @AGRUPA = 1
		BEGIN

		SET @ENCABEZ = '
				,CODCTA
				,DESCTA '

		SET @GROUPING = '
			GROUP BY FILIAL, MES_ACTUAL, MES_ANTERI, CODCTA, DESCTA '
	END

	--|---------------------
	--| Por centro de costo
	--|---------------------
	ELSE IF @AGRUPA = 2
		BEGIN

		SET @ENCABEZ = '
				,CODCC
				,DESCC '

		SET @GROUPING = '
			GROUP BY FILIAL, MES_ACTUAL, MES_ANTERI, CODCC, DESCC '
	END

	--|---------------------
	--| Por Grupo
	--|---------------------
	ELSE IF @AGRUPA = 3
		BEGIN

		SET @ENCABEZ = '
				,GRUPO '

		SET @GROUPING = '
			GROUP BY FILIAL, MES_ACTUAL, MES_ANTERI, GRUPO '
	END 

	--|---------------------
	--| Por clase de valor
	--|---------------------
	ELSE
		BEGIN

		SET @ENCABEZ = '
				,CLASEVL '

		SET @GROUPING = '
			GROUP BY FILIAL, MES_ACTUAL, MES_ANTERI, CLASEVL '
	END
END

--|--------------------------------------
--| Esta parte va a quedar siempre igual
--|--------------------------------------
SET @ENCFIJOS = '
		SELECT FILIAL
			,MES_ACTUAL
			,MES_ANTERI '

--|--------------------------------------
--| Esta parte va a quedar siempre igual
--|--------------------------------------
SET @SUM = '
			,SUM(REAL_ACTUAL) AS V_REAL																											
			,CASE WHEN SUM(REAL_VENTA_ACTUAL) <> 0 THEN SUM(REAL_ACTUAL)/SUM(REAL_VENTA_ACTUAL)*100 ELSE 0 END AS P_VTAREAL							
			,SUM(BUD_ACTUAL) AS V_BUD																											
			,CASE WHEN SUM(BUD_VENTA_ACTUAL) <> 0 THEN SUM(BUD_ACTUAL)/SUM(BUD_VENTA_ACTUAL)*100 ELSE 0 END AS P_VTABUD								
			,CASE WHEN SUM(BUD_ACTUAL) <> 0 THEN SUM(REAL_ACTUAL)/SUM(BUD_ACTUAL)*100 ELSE 0 END AS P_REALBUD										
			,SUM(REAL_ANTERIOR) AS V_REAL_ANT																									
			,CASE WHEN SUM(REAL_VENTA_ANTERIOR) <> 0 THEN SUM(REAL_ANTERIOR)/SUM(REAL_VENTA_ANTERIOR)*100 ELSE 0 END AS P_V_R_ANT					
			,CASE WHEN SUM(REAL_ANTERIOR) <> 0 THEN SUM(REAL_ACTUAL)/SUM(REAL_ANTERIOR)*100 ELSE 0 END AS P_REAL_ANT								

			,SUM(REAL_ACUM_ACTUAL) AS V_AC_REAL																									
			,CASE WHEN SUM(REAL_VENTA_ACUM_ACTUAL) <> 0 THEN SUM(REAL_ACUM_ACTUAL)/SUM(REAL_VENTA_ACUM_ACTUAL)*100 ELSE 0 END AS P_V_AC_REA			
			,SUM(BUD_ACUM_ACTUAL) AS V_AC_BUD																									
			,CASE WHEN SUM(BUD_VENTA_ACUM_ACTUAL) <> 0 THEN SUM(BUD_ACUM_ACTUAL)/SUM(BUD_VENTA_ACUM_ACTUAL)*100 ELSE 0 END AS P_V_AC_BUD			
			,CASE WHEN SUM(BUD_ACUM_ACTUAL) <> 0 THEN SUM(REAL_ACUM_ACTUAL)/SUM(BUD_ACUM_ACTUAL)*100 ELSE 0 END AS P_AC_R_BUD						
			,SUM(REAL_ACUM_ANTERIOR) AS V_R_AC_ANT																								
			,CASE WHEN SUM(REAL_VENTA_ACUM_ANTERIOR) <> 0 THEN SUM(REAL_ACUM_ANTERIOR)/SUM(REAL_VENTA_ACUM_ANTERIOR)*100 ELSE 0 END AS PVR_AC_ANT	
			,CASE WHEN SUM(REAL_ACUM_ANTERIOR) <> 0 THEN SUM(REAL_ACUM_ACTUAL)/SUM(REAL_ACUM_ANTERIOR)*100 ELSE 0 END AS P_AC_R_ANT				
				
			,SUM(FORE_RESTANTE) AS V_FORE_RES
			,SUM(REALFORE_COMPLETO) AS V_R_F_TOT
			,CASE WHEN SUM(FORE_VENTA_COMPLETO) <> 0 THEN SUM(REALFORE_COMPLETO)/SUM(FORE_VENTA_COMPLETO)*100 ELSE 0 END AS P_VTA_TOT
			,SUM(BUD_COMPLETO) AS V_BUD_TOT
			,CASE WHEN SUM(BUD_VENTA_COMPLETO) <> 0 THEN SUM(BUD_COMPLETO)/SUM(BUD_VENTA_COMPLETO)*100 ELSE 0 END AS P_B_V_TOT
			,CASE WHEN SUM(BUD_COMPLETO) <> 0 THEN SUM(REALFORE_COMPLETO)/SUM(BUD_COMPLETO)*100 ELSE 0 END AS P_BUD_EST
			,SUM(TOTAL_REAL_ANTERIOR) AS V_TOT_REAL
			,CASE WHEN SUM(TOTAL_VENTA_ANTERIOR) <> 0 THEN SUM(TOTAL_REAL_ANTERIOR)/SUM(TOTAL_VENTA_ANTERIOR)*100 ELSE 0 END AS P_TOT_VTA
			,CASE WHEN SUM(TOTAL_REAL_ANTERIOR) <> 0 THEN SUM(REALFORE_COMPLETO)/SUM(TOTAL_REAL_ANTERIOR)*100 ELSE 0 END AS P_TOT_ANT
		
		FROM #PRECALCULOS '

EXEC (@ENCFIJOS+@ENCABEZ+@SUM+@GROUPING)

DROP TABLE #STA_PRESUPUESTOS
DROP TABLE #STA_ASIENTOS
DROP TABLE #ASIENTOS_AGRUPADOS
DROP TABLE #BUDGET_AGRUPADOS
DROP TABLE #PRECALCULOS




