CREATE OR ALTER PROCEDURE [dbo].[P_FIN_AGING_CXC_01]
	@DECLIENTE VARCHAR(6)
	,@ACLIENTE VARCHAR(6)
	,@DEEMIS VARCHAR(8)
	,@AEMIS VARCHAR(8)
	,@DEVCTO VARCHAR(8)
	,@AVCTO VARCHAR(8)
	,@TIPOINF VARCHAR(1)
	,@FECHACORTE VARCHAR(8)
	,@PERIODO SMALLINT
	,@TIPOINTERVALO VARCHAR(1)
	,@INTERVALO SMALLINT
	,@MONEDA SMALLINT
	,@USER VARCHAR(6)	
AS

SET NOCOUNT ON

DECLARE @FECHAAUX DATETIME
DECLARE @N SMALLINT
DECLARE @MAX SMALLINT
DECLARE @FECHAS TABLE (ORDEN SMALLINT, DESDE DATETIME, HASTA DATETIME)
DECLARE @SIGNO SMALLINT
DECLARE @ORDEN SMALLINT

IF @TIPOINTERVALO = 'D'
	SET @INTERVALO -= 1

IF @PERIODO > 25
	SET @PERIODO = 25

IF @PERIODO <= 0
	SET @PERIODO = 1

IF @AEMIS > @FECHACORTE
	SET @AEMIS = @FECHACORTE

--|-------------------------------------
--| Comienzo con las fechas anteriores
--|-------------------------------------
SET @N = 1
SET @SIGNO = -1
SET @FECHAAUX = @FECHACORTE

WHILE @N <= @PERIODO
	BEGIN

	SET @ORDEN = @N*@SIGNO

	INSERT INTO @FECHAS (ORDEN, DESDE, HASTA)
		VALUES (@ORDEN
			,CASE WHEN @N = @PERIODO 
				THEN '19990101' 
				ELSE (CASE WHEN @TIPOINTERVALO = 'D' 
						THEN DATEADD(dd, @SIGNO*@INTERVALO, @FECHAAUX) 
						ELSE DATEADD(MM, @SIGNO*@INTERVALO, @FECHAAUX)+1 END) END
			,@FECHAAUX)

	SET @FECHAAUX = (SELECT DESDE - 1 FROM @FECHAS WHERE ORDEN = @ORDEN)

	SET @N += 1
END

--|--------------------------
--| Sigo con las de adelante
--|--------------------------
SET @N = 1
SET @SIGNO = 1
SET @FECHAAUX = DATEADD(dd, 1, @FECHACORTE)

WHILE @N <= @PERIODO
	BEGIN

	SET @ORDEN = @N*@SIGNO

	INSERT INTO @FECHAS (ORDEN, DESDE, HASTA)
		VALUES (@ORDEN
			,@FECHAAUX
			,CASE WHEN @N = @PERIODO 
				THEN '29991231' 
				ELSE (CASE WHEN @TIPOINTERVALO = 'D'
						THEN DATEADD(dd, @SIGNO*@INTERVALO,@FECHAAUX)
						ELSE DATEADD(MM, @SIGNO*@INTERVALO,@FECHAAUX)-1 END) END)

	SET @FECHAAUX = (SELECT HASTA + 1 FROM @FECHAS WHERE ORDEN = @ORDEN)

	SET @N += 1
END

DECLARE @RECZIG INT = (SELECT ISNULL(MAX(R_E_C_N_O_),0) FROM ZIG010)

DELETE
FROM ZIG010
WHERE ZIG_USER = @USER

INSERT INTO ZIG010 (ZIG_FILIAL, ZIG_USER, ZIG_CAMPO, ZIG_DESDE, ZIG_HASTA, ZIG_DESCRI, D_E_L_E_T_, R_E_C_N_O_, R_E_C_D_E_L_)
	SELECT '' AS FILIAL
		,@USER AS USUARIO
		,'P'+RIGHT('0'+CAST(ROW_NUMBER() OVER(ORDER BY ORDEN) AS VARCHAR), 2) AS CODIGO
		,CONVERT(VARCHAR(8), DESDE, 112) AS DESDEC
		,CONVERT(VARCHAR(8), HASTA, 112) AS HASTAC
		,CASE WHEN CONVERT(VARCHAR(8), DESDE, 112) = '19990101' THEN '<= ' + FORMAT(HASTA, 'dd/MM/yyyy')
			WHEN CONVERT(VARCHAR(8), HASTA, 112) = '29991231' THEN '>= ' + FORMAT(DESDE, 'dd/MM/yyyy')
			WHEN CONVERT(VARCHAR(8), HASTA, 112) = @FECHACORTE THEN '*'+FORMAT(DESDE, 'dd/MM/yyyy') + ' A ' + FORMAT(HASTA, 'dd/MM/yyyy')+'*'
			ELSE FORMAT(DESDE, 'dd/MM/yyyy') + ' A ' + FORMAT(HASTA, 'dd/MM/yyyy') END AS DESCRIP
		,' ' AS DELET_
		,ROW_NUMBER() OVER(ORDER BY ORDEN)+@RECZIG
		,' ' AS RECDEL_
	FROM @FECHAS
	ORDER BY ORDEN

--|-------------------------
--| Preparo variables para 
--| Armar query dinamica
--|-------------------------
SELECT @N = MIN(R_E_C_N_O_)
	,@MAX = MAX(R_E_C_N_O_) 
FROM ZIG010 
WHERE ZIG_USER = @USER
AND D_E_L_E_T_ <> '*'

SELECT E1_CLIENTE
	,E1_LOJA
	,A1_NOME
	,E1_EMISSAO
	,E1_TIPO
	,E1_NUM
	,E1_PARCELA
	,E1_MOEDA
	,E1_TXMOEDA
	,E1_VALOR
	,E1_VLCRUZ
	,E1_VENCREA
	,ZIG_CAMPO
	,(CASE WHEN E1_TIPO IN ('NCC','RA') THEN -1 ELSE 1 END) AS SIGNO
	,DATEDIFF(dd, CONVERT(datetime, E1_VENCREA, 112), CONVERT(datetime, @FECHACORTE, 112)) AS DVCTO
	,dbo.FN_XVALOR_01(E1_VALOR - ISNULL(SUM(CASE WHEN E5_DATA <= @FECHACORTE 
							THEN (CASE WHEN E1_MOEDA = 1 THEN E5_VALOR ELSE E5_VLMOED2 END) 
							ELSE 0 END), 0)
					,E1_EMISSAO
					,E1_MOEDA
					,@MONEDA
					,E1_TXMOEDA) AS SALDO
INTO #SALDOS
FROM SE1010 SE1
	INNER JOIN SA1010 SA1
		ON E1_CLIENTE = A1_COD
		AND E1_LOJA = A1_LOJA
		AND SA1.D_E_L_E_T_ <> '*'
	LEFT JOIN SE5010 SE5
		ON E5_CLIFOR = SE1.E1_CLIENTE
		AND E5_LOJA = SE1.E1_LOJA
		AND E5_TIPO = SE1.E1_TIPO
		AND E5_PREFIXO = SE1.E1_PREFIXO
		AND E5_PARCELA = SE1.E1_PARCELA
		AND E5_NUMERO = SE1.E1_NUM
		AND E5_SITUACA = ' '
		AND SE5.D_E_L_E_T_ <> '*'
	LEFT JOIN ZIG010 ZIG
		ON ZIG_USER = @USER
		AND E1_VENCREA BETWEEN ZIG_DESDE AND ZIG_HASTA
		AND ZIG.D_E_L_E_T_ <> '*'
WHERE E1_TIPO <> 'CH'
AND SE1.E1_CLIENTE BETWEEN @DECLIENTE AND @ACLIENTE
AND SE1.E1_EMISSAO BETWEEN @DEEMIS AND @AEMIS
AND SE1.E1_VENCREA BETWEEN @DEVCTO AND @AVCTO
AND SE1.D_E_L_E_T_ <> '*'
GROUP BY E1_CLIENTE
	,E1_LOJA
	,A1_NOME
	,E1_EMISSAO
	,E1_TIPO
	,E1_NUM
	,E1_PARCELA
	,E1_MOEDA
	,E1_TXMOEDA
	,E1_VALOR
	,E1_SALDO
	,E1_VLCRUZ
	,E1_VENCREA
	,ZIG_CAMPO
HAVING ROUND(E1_VALOR - ISNULL(SUM(CASE WHEN E5_DATA <= @FECHACORTE 
								THEN (CASE WHEN E1_MOEDA = 1 THEN E5_VALOR ELSE E5_VLMOED2 END) 
								ELSE 0 END), 0),2) > 0
ORDER BY E1_CLIENTE

UPDATE #SALDOS
SET SALDO = SALDO * SIGNO

DECLARE @CAMPOS_CONSULTA VARCHAR(MAX) = ''
DECLARE @CAMPO VARCHAR(20) = ''
DECLARE @SUM_CAMPO VARCHAR(50) = ''
DECLARE @PIVOT VARCHAR(1000) = ''
DECLARE @TOTAL VARCHAR(1000) = ''
DECLARE @SQL VARCHAR(MAX)

IF @TIPOINF = 'A'
	SET @CAMPOS_CONSULTA = '
	E1_CLIENTE
	,E1_LOJA
	,A1_NOME
	,E1_TIPO
	,E1_NUM
	,E1_PARCELA
	,E1_MOEDA
	,E1_TXMOEDA
	,E1_VALOR
	,E1_VLCRUZ
	,E1_EMISSAO
	,E1_VENCREA'
ELSE
	SET @CAMPOS_CONSULTA = '
	E1_CLIENTE
	,E1_LOJA
	,A1_NOME'

SET @SQL = '
	SELECT '+@CAMPOS_CONSULTA+CHAR(13)+CHAR(10)

WHILE @N <= @MAX
	BEGIN
		
	SET @CAMPO = (SELECT '['+ZIG_CAMPO+']' FROM ZIG010 WHERE R_E_C_N_O_ = @N)
	SET @SUM_CAMPO = ',SUM(ISNULL('+@CAMPO+',0)) AS '+@CAMPO
	SET @PIVOT = @PIVOT + ',' + @CAMPO+CHAR(13)+CHAR(10)
	SET @TOTAL = @TOTAL + '+ISNULL(' + @CAMPO + ',0)'
		
	SET @SQL = @SQL + @SUM_CAMPO+CHAR(13)+CHAR(10)	
	SET @N = @N + 1	
END

SET @SQL = @SQL + ',SUM('+STUFF(@TOTAL, 1, 1, '')+') AS TOTAL '+CHAR(13)+CHAR(10)	

SET @PIVOT = STUFF(@PIVOT, 1, 1, '')

SET @SQL = @SQL + 
	'FROM #SALDOS
	PIVOT (SUM(SALDO) FOR ZIG_CAMPO IN ('+@PIVOT+')) AS PVT
	GROUP BY '+@CAMPOS_CONSULTA

EXEC (@SQL)

DROP TABLE #SALDOS